<div class="row">
  <div class="">
    <div>
      <div class="col-sm-12">
        <button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>
        <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Marco Corporatico.</ng-template>
              <mat-form-field>
                <input matInput placeholder="Nombre del Cliente." formControlName="companyName" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Nombre de la Ciudad" formControlName="cityName" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <ng-template matStepLabel>Marco Laboral.</ng-template>
              <mat-form-field>
                <input matInput type="number" placeholder="Dias de planeación." formControlName="secondCtrl" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>


